.nav {
    margin-top: 20px;
    width: 100%;
    min-width: 1200px;
    height: 55px;
    overflow: hidden;
    li{
      display: inline-block;
      margin: 0 20px 0 0;
    a {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #4d4d4d;
      letter-spacing: 2px;
    }
    &>a:first-child{
      margin-left: 30px;
    }
  }
  }
  hr {
    width: 100%;
    height: 1px;
    margin: 20px 0 0 30px;
    border: 0;
    background: #cfcfcf;
  }

  .box {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0px;
    content: '';
    top: -9px;
    border-style: solid;
    border-width: 3.25px 3.5px;
    border-color: #fff #fff transparent transparent;
    transform: rotate(-45deg);
    box-shadow: 1px -1px 1px #cfcfcf;
    margin: 0;
  }
  .ivu-table-header{
    span{
      font-weight: normal;
      letter-spacing:1px;
      color:#9f9f9f;
    }
  }
  .ivu-table-tbody{
    text-align: center;
    span{
      color:#4b4b4b;
      letter-spacing:0;
    }
  }
  .ivu-input{
    border:1px solid #bcbcbc;
    border-radius:2px;
    width:118px;
    height:30px;
    padding-right: 0;
  }
  .ivu-select-selection{
    background:#ffffff;
    border:1px solid #bcbcbc;
    border-radius:2px;
    width:98px;
    height:30px;
  }
  //复写select
  .ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
    padding-left: 2px;
    font-family:MicrosoftYaHei;
    padding-right: 0;
    font-size:14px;
    color:#2c2c2c;
    letter-spacing:1px;
  }
  .ivu-select-item{
    padding: 7px 0 7px 5px;
  }
  .button() {
    background: #2c87ea;
    width: 96px;
    height: 32px;
    color: #fff;
    outline: none;
}
.ivu-table th{
  background: #fff;
}
.ivu-icon-ios-checkmark-empty {
  transform: translate(0, -7px);
}
.ivu-table th {
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #9f9f9f;
  background: #fff;
  letter-spacing: 1px;
}
.ivu-table:after,
.ivu-table:before {
  width: 0;
  height: 0;
}
.ivu-tooltip-content .ivu-tooltip-inner {
  background: #fbfaf8;
  color: #4d4d4d;
}
button{
  border: none;
  outline: none;
  color:#fff;
}
.page{
  float: right;
  margin-top: 20px;
}
*{
  scrollbar-3dlight-color:#fff; // 3d亮色阴影边框(threedlightshadow)的外观颜色
  scrollbar-highlight-color:#fff; // 滚动条3d高亮边框(threedhighlight)的外观颜色
  scrollbar-arrow-color:#fff; // 滚动条方向箭头的颜色
  scrollbar-shadow-color:#fff; // 滚动条方向箭头的颜色
  scrollbar-darkshadow-color:#fff; // 滚动条3d暗色阴影边框(threeddarkshadow)的外观颜色
  scrollbar-base-color:#fff; // 滚动条基准颜色
  scrollbar-track-color:#fff; // 滚动条拖动区域的外观颜色
}